@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Nunito", sans-serif;
}
ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img, video{
    max-width: 100%;
}

.card-wrapper {
    padding: 120px 0 0;
}
.cards {
    max-width: 90%;
    margin: 0 auto;
}
.stack-cards .card {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
    position: sticky;
    top: calc(var(--item) * 40px);
    top: 40px;
    min-height: 600px;
    border-radius: 60px;
    overflow: hidden;
    gap: 60px;
    padding: 50px 20px;
    background: var(--clr);
}

.stack-cards .card span {
    display: inline-block;
    font-size: 12vw;
    font-weight: 900;
    -webkit-text-stroke: 5px #000;
    color: transparent;
}

.stack-cards .card p {
    font-size: 18px;
}